# dependencies
node_modules/
.pnp
.pnp.js

# secrets / env
.env
.env.local
.env.*.local

# hardhat
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/
packages/contracts/coverage/
packages/contracts/coverage.json

# next.js
apps/web/.next/
apps/web/out/
apps/web/build/

# vercel
.vercel/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
